/* Reset e Configurações Básicas */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #faf3e0; /* Marrom claro */
    color: #4a2e2a; /* Marrom escuro */
}

/* Estilos para o header */
.topo{
    background-color: #603824; /* Fundo preto */
    padding: 10px 20px;
    justify-content: flex-end;
    align-items: center;
    display: flex;
}

/* Estilos dos ícones de contato */
.icons {
    display: flex;
    gap: 15px;
    font-size: 2rem;
    
}


.icons i {
    color: #d9b6a3;
    transition: transform 0.3s;
    margin-right: 1rem;
}

.icons i:hover {
    transform: scale(1.2);
    transition: 0.3s;
}

.icons p{
    color:#d9b6a3;
}

.icons a :hover{
    color:#cf9372;
    transition: 0.3s;
    
}

.icons :last-child :hover{
    text-decoration: underline;
    transform: scale(1.1);
}

.icons a{
    display: flex;
    text-decoration: none;
}

/* Header */
.hero-section {
    background-color: #d9b6a3; /* Marrom claro */
    padding: 4rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 80vh;
    overflow: hidden;
}

.hero-container {
    display: flex;
    align-items: center;
    max-width: 1200px;
    width: 100%;
}

.hero-text {
    flex: 1;
    padding: 2rem;
    background-color: rgba(217, 182, 163, 0.85); /* Marrom claro com transparência */
    color: #4a2e2a; /* Marrom escuro para o texto */
    border-radius: 8px;
}

.hero-logo {
    width: 400px;
}

.hero-text h1 {
    font-size: 2.3rem;
    margin-bottom: 1rem;
}

.hero-text p {
    font-size: 1.4rem;
}

.hero-text h1, .hero-text p {
    color: #4a2e2a;
}

.cta-button {
    display: inline-block;
    background-color: #7b4b3a; /* Marrom médio */
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #603824; /* Marrom escuro */
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
}

.hero-image img {
    width: 100%;
    max-width: 350px;
    border-radius: 8px;
}


.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
    background-color:#d9b6a3;
    flex-wrap: wrap;
}

.header-text {
    width: 70%; /* Lado esquerdo ocupa 70% */
    padding-right: 20px;
}

.header-text h2 {
    font-size: 1.6rem;
    margin-bottom: 15px;
    color: #7b4b3a;
}

.header-text p {
    font-size: 1.4rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.header-image {
    width: 30%; /* Lado direito ocupa 30% */
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-image img {
    max-width: 600px; /* Largura máxima fixa */
    border-radius: 10px;
    margin-right: 7rem;
}

.logo {
    width: 300px; /* Define um tamanho fixo para o logo */
    margin-bottom: 1rem;
    margin-left: 20rem;
}


/* Seção de Conteúdo */
.content-section {
    background-color: #f1e0d6; /* Marrom claro */
    padding: 4rem 2rem;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.content-container {
    display: flex;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    gap: 2rem;
    transition: transform 0.3s ease;
}

.content-text {
    flex: 1;
    padding: 2rem;
    color: #333;
    animation: fadeInLeft 1s ease-out;
}

.content-text h2 {
    font-size: 2.5rem;
    color: #7b4b3a; /* Marrom médio */
    margin-bottom: 1rem;
    position: relative;
    font-weight: bold;
}



.content-text p {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    line-height: 1.6;
}

.content-image {
    flex: 1;
    background-color: #d9b6a3; /* Marrom claro */
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    animation: fadeInRight 1s ease-out;
}

.content-image img {
    width: 100%;
    max-width: 800px;
    transition: transform 0.3s ease;
    border-radius: 8px;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        color: #7b4b3a; /* Marrom médio */     transform: translateX(0);
    }
}

/* Seção de Cards */
.section-title {
    font-size: 2.5rem;
    color: #7b4b3a; /* Marrom claro */
    margin-bottom: 2rem;
    text-align: center;
}

.cards-section {
    background-color: #f1e0d6; /* Marrom claro */
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cards-container {
    display: flex;
    gap: 2rem;
    max-width: 1300px;
    width: 100%;
    justify-content: center;
    transition: transform 0.3s ease;
}


.card {
    flex: 1;
    padding: 2.5rem;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
    max-width: 600px;
    text-align: left;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

.card h3 {
    font-size: 2rem;
    color: #7b4b3a; /* Marrom médio */
    margin-bottom: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
}

.card ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0 auto; 
    display: table;
}

.card ul li {
    font-size: 1.3rem;
    margin-bottom: 0.75rem;
    color: #555;
    padding-left: 1.2rem;
    position: relative;
    line-height: 1.6; 
    text-align: left; 
}

.card ul li::before {
    content: "\2022";
    color: #d3a57f;
    font-weight: bold;
    position: absolute;
    left: 0;
}


.cards-button {
    margin-top: 1rem;
}

.cards-button .cta-button {
    padding: 1.1rem 2.8rem;
    background-color: #8b5e3c;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: fit-content;
    display: inline-block;
}

.cards-button .cta-button:hover {
    background-color: #704c2f;
    transform: scale(1.05);
}

/* Seção Por Que Escolher */
.why-choose-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #f1e0d6; /* Marrom claro */
}

.why-choose-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
}

.why-choose-image img {
    width: 100%;
    max-width: 350px;
    border-radius: 8px;
}

.why-choose-text {
    max-width: 500px;
    margin-left: 30px;
}

.why-choose-text h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
}

.why-choose-text p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.why-choose-text h2, .why-choose-text p {
    color: #4a2e2a; /* Marrom escuro */
}

.why-choose-text ul {
    list-style-type: disc;
    padding-left: 1.5rem;
}

.why-choose-text ul li {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #333;
}


/* Seção de Depoimentos */
.testimonial-section {
    background-color: #f5f5f5;
    padding: 4rem 2rem 0rem 2rem;
    text-align: center;
}

.testimonial-section h2 {
    font-size: 2rem;
    color: rgb(123, 75, 58);
    margin-bottom: 2rem;
}

/* Estilos do Carrossel */
.carousel-container {
    overflow: hidden;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}



/* Efeito hover para cartões de depoimento */
.testimonial-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testimonial-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    background-color: #f1e0d6; /* Ajusta o fundo para destacar */
}

/* Opcional: estilo para o texto e estrelas no hover */
.testimonial-card:hover p,
.testimonial-card:hover cite,
.testimonial-card:hover .star {
    color: #7b4b3a; /* Cor marrom médio para maior contraste */
}



.carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease;
    gap: 2rem;
}

.testimonial-card {
    min-width: 300px;
    max-width: 400px;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    color: #333;
}

.testimonial-card p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    font-style: italic;
}

.testimonial-card cite {
    font-size: 0.9rem;
    color: #8b5e3c;
}

/* Seção de Chamada para Ação e Formulário */
.cta-section {
    background-color: #f5f5f5;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cta-content {
    max-width: 800px;
    margin-bottom: 2rem;
}

.cta-content h2 {
    font-size: 2rem;
    color: #0c1f3f;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.cta-content p {
    font-size: 1.6rem;
    color: #333;
    margin-bottom: 1.5rem;
    text-align: left;
    
}


.telefone{
    display: flex;
    font-size: 1rem;
}






.cta-whatsapp-button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #25d366;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
}

.cta-whatsapp-button:hover {
    background-color: #1ebc5c;
}

/* Estilos do Formulário de Contato */
.contact-form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form label {
    display: block;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.cta-form-button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #8b5e3c;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-form-button:hover {
    background-color: #704c2f;
}

.cta-image {
    width: 450px;
    height: auto;
    border-radius: 10%;
    margin-bottom: 5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para o Footer */
.footer {
    background-color: #4a2e2a; /* Marrom escuro */
    color: #f9f9f9;
    padding: 2rem 1rem;
    text-align: center;
    font-size: 0.9rem;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.footer p {
    margin: 0;
}

.social-icons {
    display: flex;
    gap: 1.5rem;
    margin: 0.5rem 0;
}

    .social-icons p{
        margin-left: 1rem;
    }

.social-icons a {
    display: flex;
    color: #d4af37;
    font-size: 1.5rem;
    transition: color 0.3s;
    text-decoration: none;
}


.social-icons a :hover{
    color: #a8785d;
}


.social-icons a, .legal-links a {
    color: #d9b6a3; /* Marrom claro */
}

.legal-links {
    font-size: 1rem;
}

.legal-links a {
    text-decoration: none;
    margin: 0 0.5rem;
}

.legal-links a:hover {
    text-decoration: underline;
}

.about-section {
    padding: 60px 0;
    background-color: #704c2f;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.about-image img {
    width: 80%;
    max-width: 400px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgb(211, 165, 127);
    border: #4a2e2a 4px solid;
}

.about-content {
    flex: 1;
    color: #ffffff;
    text-align: left;
    max-width: 600px;
}

.about-content h2 {
    font-size: 2.5rem;
    color: #d3a57f;
    margin-bottom: 20px;
}

.about-content p {
    font-size: 1.4rem;
    margin-bottom: 50px;
    line-height: 1.6;
    text-align: justify;
    color: #ffffff;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.botao a{
    padding: 1.1rem 2.8rem;
}


.cta-button {
    background-color: #d3a57f; /* Marrom médio */
    color: black;
    padding: 12px 30px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cta-button:hover {
    background-color: #c08e66;
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.back-to-top {
    position: fixed;
    bottom: 90px;
    right: 20px;
    display: none;
    width: 50px;
    height: 50px;
    background-color: #d3a57f;
    color: black;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    z-index: 1000;
    text-decoration: none;
}

.back-to-top:hover {
    background-color: #ecc2a0;
    transform: scale(1.1);
}

#backToTop.show {
    display: block;
}

.star{
    color: #d3a57f;
}



@media (max-width: 1300px) {
    .cta-button{
        margin: 2rem 0rem;
    }
    .header-image img{
        width: 500%;
        margin: 5.1rem 6rem 0rem 0.8rem;
    }
    .header-text img{
        margin: 0rem 13rem;
    }
}


/* Responsividade para tablets e dispositivos móveis */
@media (max-width: 1024px) {
    .hero-container, .content-container, .about-container, .cards-container {
        flex-direction: column;
        align-items: center;
    }

    .hero-text, .content-text, .about-content, .card {
        text-align: center;
    }

    .hero-image, .content-image {
        padding: 0;
    }

    .hero-text {
        padding: 1rem;
    }

    .hero-logo {
        width: 50%;
    }

    .hero-text h1 {
        font-size: 2rem;
    }

    .hero-text p {
        font-size: 1rem;
    }

    .cta-button {
        font-size: 0.9rem;
        padding: 0.8rem 1.5rem;
    }

    .cards-container {
        flex-direction: column;
        gap: 1.5rem;
    }

    .content-image img {
        max-width: 90%;
    }
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
    .hero-text h1 {
        font-size: 2rem;
    }

    .hero-text p, .content-text p, .about-content p {
        font-size: 2rem;
    }

    .hero-image img, .content-image img, .about-image img {
        max-width: 100%;
    }


    .cards-section h2{
        font-size: 1.6rem;
    }

    .card h3 {
        font-size: 1.6rem;
    }

    .card ul li {
        font-size: 1rem;
    }

    .card{
        width: 100%;
    }

    .cta-whatsapp-button {
        font-size: 0.9rem;
        padding: 0.8rem 1.5rem;
    }

    .footer p, .legal-links {
        font-size: 0.8rem;
    }

    .cta-image {
        width: 80%;
    }

    .carousel-wrapper {
        flex-direction: column;
        gap: 1rem;
    }

    .back-to-top {
        width: 40px;
        height: 40px;
        font-size: 20px;
        line-height: 40px;
    }

    .header-image img{
        width: 100%;
    }
}

/* Responsividade para telas pequenas */
@media (max-width: 480px) {
    .hero-text h1 {
        font-size: 1rem;
        padding: 0;
    }

    .icons p{
        font-size: 1.2rem;
    }

    .icons i{
        font-size: 1.3rem; ;
    }


    .contact-icons {
        display: flex;
        gap: 40px;
        margin-left: 20%;
    }

    .hero-text {
        flex: 1;
        padding-bottom: 0;
        text-align: left;
    }



        .hero-image{
            width: 60%;
        }

        .hero-logo{
            width: 70%;
            margin-top: 3rem;
        }

    .hero-text p, .content-text p, .about-content p {
        font-size: 1rem;
        text-align: left
    }

    .content-text p ::after{
        display: none;
    }

    .section-title, .about-content h2, .content-text h2 {
        font-size: 1.5rem;
        line-height: 1.6;
    }

    .testimonial-section h2{
        font-size: 1.5rem;
        white-space: nowrap;
    }
    

    .card {
        padding: 1.5rem;
    }

    .cta-button {
        padding: 0.6rem 1rem;
        font-size: 0.8rem;
    }

    .hero-logo, .content-image img {
        max-width: 100%;
    }


    .about-image img{
        max-width: 70%;
        margin-left: 3rem;
    }

    .footer p, .legal-links {
        font-size: 0.7rem;
    }

    .about-image img{
        width: 15rem;
    }

    .about-content p{
        font-size: 1rem;
        margin: 0px 1rem;
    }

        .cta-image{
            width: 100%;
        }

        .cta-content h2{
            font-size: 1.2rem;
            white-space:initial;
            text-align: left;
        }

        .cta-content p{
            font-size: 1rem;
        }

        .cta-whatsapp-button{
            margin-right: 2rem;
        }

        .legal-links{
            font-size: 0.8rem;
        }

        .header-content {
            flex-direction: column-reverse;
            padding: 0px;
        }
    
        .header-text {
            text-align: left; /* Texto alinhado à esquerda */
            padding-left: 1rem;
            width: 90%;
        }
    
        .header-image img {
            width: 300%; 
            margin: 0rem 2rem 0rem 0rem;
        }
    
        .header-text h2 {
            font-size: 1.1rem;
        }
    
        .header-text p {
            font-size: 1rem;
            line-height: 1.6;
            margin: 0;
        }

    
        .cta-button {
            font-size: 0.7rem;
            padding: 1rem 1rem;
            margin-top: 1rem;
            margin-bottom: 0;
        }

        .social-icons p{
            font-size: 1.5rem;
            margin: 0;
        }

        .header-text img{
            max-width: 100%;
            margin: 0.5rem 0rem;
        }


}
